.first-link {
    font-size: 20px;
    color: rgb(0, 89, 255) !important;

    
}


.first-link:hover{
    color: rgba(2, 100, 247, 0.767) !important;

}

.current-page {
    color: black !important;
    font-size: 20px;
    opacity: 85%;

}


.current-page:hover{
    color: rgb(27, 27, 27) !important;

}

@media(max-width:600px){
    .products-page{
        font-size: 10px;
    }
    .header-info{
        font-size: 10px !important;
    }
    .filtration-box{
  font-size: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
}
.product-title{
    font-size: 16px;
}
.product-link{
    font-size: 13px;
}
.product-image{
    width: 100px;
}
.product-information{
    font-size: 12px;
}
}
@media(max-width:500px){
    .cards-details{
        display: flex;
        flex-direction: column;
        height: 180px;
    }
    .products-page{
        font-size: 10px;
    }
    .header-info{
        margin-top: 20px;
        font-size: 7px !important;
    }
    .header-title{
                margin-top: 20px;

        font-size: 10px;
    }
.filtration-box{
  font-size: 6px !important;
  width: 120% !important;
  overflow: hidden;
  min-width: 0;
  margin-bottom: 10px;
}
.select-options1{
  width: 35px !important;
  font-size: 6px;
  border-radius: 10px;
  font-display: fallback;
  appearance: none;
  

}

.product-title{
    font-size: 10px;
}
.product-link{
    font-size: 8px;
}
.product-image{
    width: 80px;
}
.product-information{
    font-size: 6px;
    gap: 15px;
}



}