.first-link {
    font-size: 20px;
    color: rgb(0, 89, 255) !important;

    
}


.first-link:hover{
    color: rgba(2, 100, 247, 0.767) !important;

}

.current-page {
    color: black !important;
    font-size: 20px;
    opacity: 85%;

}


.current-page:hover{
    color: rgb(27, 27, 27) !important;

}

@media(max-width:600px){
    .products-page{
        font-size: 10px;
    }
    .header-info{
        font-size: 10px !important;
    }
    .filtration-box{
  font-size: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
}
}
@media(max-width:500px){
    .products-page{
        font-size: 10px;
    }
    .header-info{
        font-size: 7px !important;
    }
    .filtration-box{
  font-size: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 120%;
  gap: 10px;
  overflow: hidden;
}

}