.change-password{
    text-decoration: none;
    color: white !important;
    font-size: 20px;    
}

.delete-account{
    text-decoration: none;
    color: white !important;
    font-size: 20px;    
}