.change-password{
    text-decoration: none;
    color: white !important;
    font-size: 20px;    
}

.delete-account{
    text-decoration: none;
    color: white !important;
    font-size: 20px;    
}

@media(max-width:500px){
    .security-page{
        font-size: 8px;
    }
}