.profile-links{
    color: rgba(0, 119, 255, 0.945) !important;
    font-size: 15px;
}
.profile-links:hover{
    color: rgba(47, 141, 248, 0.945) !important;
}
.profile-links1{
    font-size: 15px;
    opacity: 80%;
}
.profile-links1:hover{
    opacity: 90%;
}

.profile-edit{
    background-color: rgb(0, 89, 255);
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 13px;

}

.upload-button{
    font-size: 15px;
    border: 1px solid;
    padding:15px 30px;
    border-radius: 15px;
}