.Header a:hover{
    color:#2b445a;
}

@media (max-width:600px){
    .header-text{
        font-size: 5px;
    }
    .header-toggle{
        font-size: 10px;
    }
    .header-search{
        width: 150px;
        overflow: hidden;
    }
    .header-search-button{
        font-size: 12px;
        margin-top: 5px;

    }
    .header-profile{
        font-size: 10px;
    }
}
@media (max-width:500px){
        .header-search{
        width: 100px;
        overflow: hidden;
        font-size: 10px;
    }

    .header-profile{
        font-size: 8px;
        margin-right:10px ;

        
    }

        .header-search-button{
        font-size: 8px;

    }
    .header-picture{
        width: 30px;
        height: 30px;
    }
    .profile-image{
        width: 40px;
        height: 40px;
    }
    .header-options{
        font-size: 8px;
        width: 120px;
    }


}