@media(max-width:500px){
    .not-important{
      display: none !important;
    }
  .box-header {
    display: none; 
  }

  .product-details {
    background-color: rgb(245, 245, 248);
    display: block; 
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 8px;
  }

  .product-details > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 10px;
    align-items: center;
  }
    .rating-column{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 11px !important;
    }

  .products-pics {
    width: 16px !important;
  }

  .rating-pic {
    width: 7px !important;
  }

  .action-button  {
    padding: 7px !important;
    font-size: 8px !important;
    width: 100%;
  }
  
}


@media(max-width:600px){
.box-header{
grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important; 
gap: 3PX;

}
.product-details{
grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important; 
gap: 3PX;
}

    .products-box{
        display: grid;
        font-size:5px ;
        width: 100%;
        overflow: hidden;
    }
    
     
    
    .rating-column{
        font-size: 7px;
    }
    .action-button{
        font-size: 5px ;
        padding: 4px;
    }
    .products-pics{
        width: 7px;
    }
    .rating-pic{
        width: 4px;
    }

    
} 