@media (max-width:600px){
    .orders-cards{
        font-size: 10px;
        margin-top: 40px;
    }
    .filtration-box{
  font-size: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
}
.filtration-title{
    font-size: 10px;
}

.box-header{
grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important; 
gap: 3PX;

}
.orders-details{
grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important; 
gap: 3PX;
}

    .orders-box{
        display: grid;
        font-size:5px ;
        width: 100%;
        overflow: hidden;



    }
    
     
    
    .orders-pics{
        width: 10px;
    }
.client-name{
    font-size: 8px;
}

}


@media(max-width:500px){
  .product-date{
    margin-left: 0;
  }

  .orders-cards{
    display: flex;
    flex-direction: column;
    height: 220px;
  }
  
  .box-header {
    display: none; 
  }

  .orders-details {
    display: block; 
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    margin-bottom: 8px;
    width: 210% !important;
    background-color: rgb(240, 243, 248);
  }

  .orders-details > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 12px;
  }
    

  .orders-pics {
    width: 20px !important;
  }
.select-options{
  width: 30px !important;
  font-size: 5px;
  border-radius: 10px;
  appearance: none;

}

.filtration-box{
  font-size: 3px;
  margin-left: 10px;
  width: 90% !important;
  overflow: hidden;
  min-width: 0;
}

  

}


