.belled-css{
    font-size: 30px;
}

html, body,#root {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 236, 236);
}

aside a{
  color: #000 !important;
  font-weight: 400;
  
}

main a {
  color: #000 !important;
  font-size: 9px;
  margin-right: 1px;

}

@media (max-width:600px){
.main-page{
      background-color: rgb(237, 244, 248) !important;

}
  .cards{
    background-color: rgb(230, 234, 238) !important;
    margin-top: 10px;
    display: flex; 
    flex-direction: column;
    width: 100%;
    
     
  }
  .cards-size{
    font-size: 10px;
    overflow: hidden;
    height: 100%;    
  }
  .cards-charts{
    height: 70px;
    
  }

.filtration-box{
  font-size: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  overflow: hidden;
}
.filtration-title{
  font-size: 10px;
}
.select-options{
  width: 50px;
  font-size: 5px;
  border-radius: 10px;
}


}

@media (max-width:500px){
.filtration-box{
  font-size: 3px !important;
  width: 120% !important;
  overflow: hidden !important;
  min-width: 0;
}
.select-options7{
  width: 30px !important;
  font-size: 5px;
  border-radius: 10px;
  appearance: none;

}
.filtration-title{
  font-size: 6px !important;
  font-weight: 600 !important;
  margin-bottom: 5px;
}


}

