.belled-css{
    font-size: 30px;
}

html, body,#root {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 236, 236);
}

aside a{
  color: #000 !important;
  font-weight: 400;
  
}

main a {
  color: #000 !important;
  font-size: 9px;
  margin-right: 1px;

}

